//
	Created by Gavin on 2017/1/14.
extends layout
block content
	main.home(role='main')
		fieldset
			legend 浏览
			table
				thead
					tr
						th 文件名
						th 所有者
						th 权限
						th 操作
					tr
				tbody
					tr
						td 文件1
						td gavin
						td 755
						td 下载
					tr
						td 文件2
						td gavin
						td 755
						td 下载
					tr
						td 文件3
						td gavin
						td 755
						td 下载
					tr
						td 文件4
						td gavin
						td 755
						td 下载
		fieldset
			legend 上传
			form(method='post', action='upload', enctype='multipart/form-data')
				ul
					li
						label(for='filename') 文件名
						input(id='filename', name='filename', type='text')
					li
						label(for='encrypt_type') 加密类型
						select(id='encrypt_type', name='encrypt_type')
							option(value='-1') 请选择加密类型
							option(value='1') DES
							option(value='2') 3DES
							option(value='3') AES
							option(value='4') IDEA
							option(value='5') RC6
					li
						label.auth 权限
						input.auth(name='authority1', type='number', min='0', max='7')
						input.auth(name='authority2', type='number', min='0', max='7')
						input.auth(name='authority3', type='number', min='0', max='7')
					li
						label(for='type') 文件类型
						input(id='type', name='type', type='text')
					li
						label(for='path') 路径
						input(id='path', name='path', type='file')
				.button
					input(type='submit', value='上传')
					input.reset(type='reset', value='重置')
		fieldset
			legend 个人信息
			ul
				li
					label(for='username') 用户名
					span(id='username') Gavin
				li
					label(for='name') 姓名
					span(id='name') 陈家俊
				li
					label(for='email') 邮箱
					span(id='email') gavinchan267@hotmail.com
				li
					label(for='tel') 联系方式
					span(id='tel') 13679645267
				li
					label(for='sex') 性别
					span(id='sex') 男
				li
					label(for='birthday') 生日
					span(id='birthday') 1994-10-09
				li
					label(for='department') 部门
					span(id='department') 开发
				li
					label(for='company') 公司
					span(id='company') 成都文武信息技术有限公司
				li: a(href='#') 修改密码
		fieldset
			legend 用户管理
