//
	Created by Gavin on 2017/1/14.
extends layout
block content
	main.retrieve(role='main')
		form(method='post')
			fieldset
				legend 填写账号
				ul
					li
						label(for='username') 用户名
						input(id='username', type='text')
					li
						label(for='email') 邮箱
						input(id='email', type='email')
					li
						label(for='tel') 手机号
						input(id='tel', type='tel')
			fieldset
				legend 身份验证
				ul
					li
						label(for='question1') 问题一:
						span(id='question1') 您母亲的姓名是？
					li
						label(for='answer1') 答案
						input(id='answer1', name='answer1', type='text')
					li
						label(for='question2') 问题二:
						span(id='question2') 您配偶的生日是？
					li
						label(for='answer2') 答案
						input(id='answer2', name='answer2', type='text')
					li
						label(for='question3') 问题三:
						span(id='question3') 您的学号（或工号）是？
					li
						label(for='answer3') 答案
						input(id='answer3', name='answer3', type='text')
			.button
				input.submit(type='submit', value='完成')
				input.reset(type='reset', value='取消')
